<section class="addNew">
	<section class="top">
		<header>
			<div class="logo-box">
				<img class="logo" src="/images/V6.png">
			</div>
		</header>
		<nav class="top-bottom">
			<h1>artist search</h1>
			<a href="#" ng-click="menuView()" class="ion-navicon menu" ng-show="hamburger"></a>
			<a href="#" ng-click="menuView()" class="ion-ios-close-empty menu" ng-show="closeMenu"></a>
			<ul ng-show="menuItems" class="animated fadeIn">
				<li>
					<a ui-sref="collection">back to collection</a>
				</li>
				<li>
					<a class="logout" href="#" ng-click="logout()">logout</a>
				</li>
			</ul>
			<div class="clear-float"></div>
		</nav>
	</section>
	<section class="search animated fadeIn">
		<input type="text" placeholder="search by artist" id="artistSearch" ng-model="artistSearch" ng-keyup="$event.keyCode == 13 && search()">
		<button ng-click="search()">search</button>
		<div class="clear-float"></div>
		<div class="results animated fadeInUp" ng-repeat="(id, artist) in artists">
			<a href="#" ng-click="albumSearch(artist.id)" ng-show="artistResults" ng-model="artistName" class="artist-name" ui-sref="albumView({id: artist.id, name: artist.name})">{{ artist.name }}&nbsp;&nbsp;<span class="ion-ios-arrow-right"></span><span class="ion-ios-arrow-right"></span></a>
		</div>
	</section>
</section>