<section class="home-view">
	<div class="pics" id="pic1">
		<section class="login">
			<a class="login-options" href="#" ng-click="login()">log in</a>
			<a class="login-options" href="#">register</a>
			<div ng-show="loginInput">
				<input type="text" placeholder="email" ng-model="email"><br>
				<input type="password" placeholder="password" ng-model="password"><br>
				<button class="submit">submit</button>
				<button class="cancel" ng-click="login()">cancel</button>
			</div>
		</section>
		<h1>Vinyfi</h1>
		<div class="description">
			<p id="description"></p>
		</div>
	</div>
</section>