.home-view{
	header{
		background-color: rgba(0, 0, 0, .5);
		margin: 0 auto;}
	.menu{
		margin-top: 0;
		border-bottom: none;
		color: #F2F2F2;}
	.ion-navicon:hover{
		color: rgb(44, 182, 115);}
	.ion-navicon:active{
		color: rgb(44, 182, 115);}
	.ion-ios-close-empty:hover{
		color: rgb(228, 77, 77);}
	.ion-ios-close-empty:active{
		color: rgb(228, 77, 77);}
	.logo{
		padding-top: 30px;
	}
	.pics {
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		top: 0px; 
		left: 0px; 
		right: 0px; 
		bottom: 0px;
			// -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));}
		.description{
			margin: 0 auto;
			text-align: center;
			color: white;
			max-width: 740px;
			p{
				padding: 150px 20px 0;
				color: #F2F2F2;}
		}
		.login{
			text-align: center;
			padding: 1em 0;
			z-index: 1000;
			.login-options{
				text-decoration: none;
				color: #fff;}
			.login-options:hover{
				color: #2cb673;}
			.login-options:nth-of-type(1){
				padding-right: 100px;}
			.login-options:nth-of-type(2){
				padding-left: 100px;}
			input{
				background-color:rgba(0, 0, 0, .6);
				padding: .3em 2em;
				width: 180px;
				border: none;
				border-bottom: 1px solid rgba(0, 0, 0, .4);
				color: white;
				outline: none;
				margin: 10px 20px 0;
				font-size: .9em;}
			::-webkit-input-placeholder { /* WebKit browsers */
				color: #eee;
				font-size: 1em;}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color: #eee;
				opacity:  1;
				font-size: 1em;}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
				color: #eee;
				opacity: 1;
				font-size: 1em;}
			:-ms-input-placeholder { /* Internet Explorer 10+ */
				color: #eee;
				font-size: 1em;}
			button{
				margin-top: 20px;
				border: none;
				font-size: .8em;
				padding: .3em .7em;
				color: white;
				text-decoration: none;}
			button:hover{
				outline: rgba(255, 255, 255, .4) solid thin;}
			button:nth-of-type(1){
				margin-right: 60px;}
			button:nth-of-type(2){
				margin-left: 60px;}
			.submit{
				background-color:rgba(44, 182, 115, .6);}
			.cancel{
				background-color: rgba(228, 77, 77, .6);}
			.errors{
				color: rgba(228, 77, 77, .9);}
		}
	}
	#pic1 {
		background-image: url("/images/vinyl9-compressed.jpg");
		background-position: 50% 50%;}
}

@media screen and (min-width: 916px) {
	.home-view{
		.menu{
			display: none !important;}
		.login{
			display: block !important;
		}
		#pic1 {
		background-image: url("/images/vinyl9.gif");}
		.clear-float{
			border-top: none;}
	}
}