/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.scss';
// @import 'mixins/foo.scss';
// @import 'mixins/bar.scss';
// @import 'mixins/baz.scss';
//
// @import 'styleguide.scss';
// @import 'pages/login.scss';
// @import 'pages/signup.scss';
//
// etc.

// .ui-view-container {
// 	position: relative;}

body { 
	margin: 0; 
	background-color: #F7F7F7;} 
h1, h2, h3, h4, h5, h6 {
	font-family: 'Futura';
	color: white;}

p, a, input, ul, li, span, section {
	font-family: 'Avenir Next';
	color: #242224;}

a{
	text-decoration: none;}

.view-slide-in.ng-enter {
	transition: all 1s ease;
	-webkit-transition:all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	opacity:0.5;
	position:relative;
	opacity:0;
	top:10px;
	left:20px;
}

.logo-box{
	margin: 0 auto;}
.logo{
	display: block;
	margin: 0 auto;
	width: 197.25px;
	height: 75px;
	padding: 10px 0;}

.top{
	header{
		background-color: rgba(0, 0, 0, .8);
		padding-top: 20px;}
}

.menu{
		text-decoration: none;
		color: #242224;
		float: right;
		margin: .6em 1em 0em 0;
		font-size: 1.5em;}
	.ion-navicon:hover{
		color: rgb(44, 182, 115);}
	.ion-navicon:active{
		color: rgb(44, 182, 115);}
	.ion-ios-close-empty{
		font-size: 1.8em;
		margin: .4em .9em 0em 0;}
	.ion-ios-close-empty:hover{
		color: rgb(228, 77, 77);}
	.ion-ios-close-empty:active{
		color: rgb(228, 77, 77);}

.top-bottom{
	max-width: 768px;
	margin: 0 auto;
	z-index: 1000;
	background-color: #F7F7F7;
	h1{
		float: left;
		margin: 1em 0 .6em 1em;
		color: rgb(44, 182, 115);}
	ul{
		clear: both;
		padding: 0;
		li{
			list-style: none;
			text-align: center;
			border-bottom: 1px solid #555;
			padding: 10px 0;
			a{
				text-decoration: none;
				color: #242224;}
			.logout:hover{
				color: rgb(228, 77, 77);}
			.add-new:hover{
				color:rgb(44, 182, 115);}
		}
		li:nth-of-type(2){
			margin-bottom: -16px;
			border-bottom: none;}
	}
}
.fixed{
	visibility: visible;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);}
.clear-float{
	border-top: 1px solid rgba(0, 0, 0, .8);
	clear: both;}



@import 'homepage.scss';
@import 'collection.scss';
@import 'addNew.scss';
@import 'albumView.scss';