.collection-view{
	.album-view{
		margin: 20px auto 0px;
		max-width: 768px;
		height: 100%;
		.sorts{
			padding-left: 1em;
			margin: 0;
			a:nth-of-type(1){
				margin-left: 1em;}
			a:nth-of-type(2) {
				margin: 0 1em;}
			.active{
				color: rgb(44, 182, 115);
				border-bottom: 1px solid black;}
			.edit:hover, .edit:active{
				color: rgb(44, 182, 115);
			}
		}
		ul{
			margin: 1em 0 0 1em;
			padding: 0;
			clear: both;
			list-style-type: none;
			padding-left: 0;
			max-width: 768px;
			li{
				list-style: none;
				clear: both;
				padding-top: 24px;
				-webkit-transition: all .5s ease-in-out;
				-moz-transition: all .5s ease-in-out;
				transition: all .5s ease-in-out;

				.album-cover{
					background-color: #242224;
					float: left;
					height: 120px;
					width: 120px;
					padding: 1px;
					border-radius: 5px;}
				.album-artist{
					float: left;
					width: calc(100% - 140px);
					margin-left: 10px;
					line-height: 1.4em;}
				.album-name{
					font-style: italic;}
				.line{
					clear: both;
					border-bottom: 1px solid rgba(0, 0, 0, .8);}
			}
		}
	}
	.prop{
		margin: 66px auto 50px;}
	.ion-ios-close-outline{
		font-size: 1.5em;}
	.ion-ios-close-outline:hover, .ion-ios-close-outline:active{
		color: rgb(228, 77, 77);
	}
	.ion-ios-close-outline:hover + .album-cover, .ion-ios-close-outline:active + .album-cover{
		background-color: rgb(228, 77, 77);
	}
}

@media screen and (min-width: 500px) {
	.collection-view{
		.album-view{
			.sorts{
				padding-bottom: 1em;
				text-align: center;
				margin-left: 0;
			}
			ul{
				li{
					display: inline-block;
					padding-top: 0;
					padding-bottom: 2em;
					vertical-align: top;
					width: 33.333%;
					.album-cover{
						display: block;
						width: 120px;
						height: 120px;}
					.album-artist{
						display: block;
						width: 80%;}
				}
			}
		}
	}
}

@media screen and (min-width: 580px){
	.collection-view{
		.album-view{
			ul{
				li{
					width: 25%;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.collection-view{
		.album-view{
			ul{
				li{
					width: 20%;
				}
			}
		}
	}
}