/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
body {
  margin: 0;
  background-color: #F2F2F2; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura';
  color: white; }

p, a, input, ul, li {
  font-family: 'Avenir Next';
  color: #242224; }

.logo-box {
  margin: 0 auto; }

.logo {
  display: block;
  margin: 0 auto;
  width: 197.25px;
  height: 75px;
  padding: 10px 0; }

.top header {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 20px; }

.menu {
  text-decoration: none;
  color: #242224;
  float: right;
  margin: .6em 1em 0em 0;
  font-size: 1.5em; }

.ion-navicon:hover {
  color: #2cb673; }

.ion-navicon:active {
  color: #2cb673; }

.ion-ios-close-empty {
  font-size: 1.8em;
  margin: .4em .9em 0em 0; }

.ion-ios-close-empty:hover {
  color: #e44d4d; }

.ion-ios-close-empty:active {
  color: #e44d4d; }

.top-bottom {
  max-width: 768px;
  margin: 0 auto;
  z-index: 1000;
  background-color: #F2F2F2; }
  .top-bottom h1 {
    float: left;
    margin: 1em 0 .6em 1em;
    color: #2cb673; }
  .top-bottom ul {
    clear: both;
    padding: 0; }
    .top-bottom ul li {
      list-style: none;
      text-align: center;
      border-bottom: 1px solid #555;
      padding: 10px 0; }
      .top-bottom ul li a {
        text-decoration: none;
        color: #242224; }
      .top-bottom ul li .logout:hover {
        color: #e44d4d; }
      .top-bottom ul li .add-new:hover {
        color: #2cb673; }
    .top-bottom ul li:nth-of-type(2) {
      margin-bottom: -16px;
      border-bottom: none; }

.fixed {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.clear-float {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  clear: both; }

.home-view header {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto; }
.home-view .menu {
  margin-top: 0;
  border-bottom: none;
  color: #F2F2F2; }
.home-view .ion-navicon:hover {
  color: #2cb673; }
.home-view .ion-navicon:active {
  color: #2cb673; }
.home-view .ion-ios-close-empty:hover {
  color: #e44d4d; }
.home-view .ion-ios-close-empty:active {
  color: #e44d4d; }
.home-view .logo {
  padding-top: 30px; }
.home-view .pics {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }
  .home-view .pics .description {
    margin: 0 auto;
    text-align: center;
    color: white;
    max-width: 740px; }
    .home-view .pics .description p {
      padding: 150px 20px 0;
      color: #F2F2F2; }
  .home-view .pics .login {
    text-align: center;
    padding: 1em 0;
    z-index: 1000; }
    .home-view .pics .login .login-options {
      text-decoration: none;
      color: #fff; }
    .home-view .pics .login .login-options:hover {
      color: #2cb673; }
    .home-view .pics .login .login-options:nth-of-type(1) {
      padding-right: 100px; }
    .home-view .pics .login .login-options:nth-of-type(2) {
      padding-left: 100px; }
    .home-view .pics .login input {
      background-color: rgba(0, 0, 0, 0.6);
      padding: .3em 2em;
      width: 180px;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      color: white;
      outline: none;
      margin: 10px 20px 0;
      font-size: .9em; }
    .home-view .pics .login ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #eee;
      font-size: 1em; }
    .home-view .pics .login :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #eee;
      opacity: 1;
      font-size: 1em; }
    .home-view .pics .login ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #eee;
      opacity: 1;
      font-size: 1em; }
    .home-view .pics .login :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #eee;
      font-size: 1em; }
    .home-view .pics .login button {
      margin-top: 20px;
      border: none;
      font-size: .8em;
      padding: .3em .7em;
      color: white;
      text-decoration: none; }
    .home-view .pics .login button:hover {
      outline: rgba(255, 255, 255, 0.4) solid thin; }
    .home-view .pics .login button:nth-of-type(1) {
      margin-right: 60px; }
    .home-view .pics .login button:nth-of-type(2) {
      margin-left: 60px; }
    .home-view .pics .login .submit {
      background-color: rgba(44, 182, 115, 0.6); }
    .home-view .pics .login .cancel {
      background-color: rgba(228, 77, 77, 0.6); }
    .home-view .pics .login .errors {
      color: rgba(228, 77, 77, 0.9); }
.home-view #pic1 {
  background-image: url("/images/vinyl9.gif"); }

.collection-view .album-view {
  margin: 20px auto 0px;
  max-width: 768px;
  height: 100%; }
  .collection-view .album-view ul {
    margin: 1em 0 0 1em;
    padding: 0;
    clear: both; }
    .collection-view .album-view ul li {
      list-style: none;
      max-width: 768px;
      clear: both;
      padding-top: 24px; }
      .collection-view .album-view ul li .album-cover {
        background-color: #242224;
        float: left;
        height: 120px;
        width: 120px;
        padding: 1px;
        border-radius: 5px; }
      .collection-view .album-view ul li .album-artist {
        float: left;
        margin-left: 10px;
        line-height: 2em; }
      .collection-view .album-view ul li .album-name {
        font-style: italic; }
      .collection-view .album-view ul li .line {
        clear: both;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
    .collection-view .album-view ul li:nth-of-type(1) {
      padding-top: 0; }
.collection-view .prop {
  margin: 66px auto 50px; }

@media screen and (min-width: 700px) {
  .album-view ul li {
    display: inline-block;
    width: 25%; }
    .album-view ul li .album-artist {
      display: none; } }
.addNew {
  height: 100%;
  margin: 0;
  padding: 0; }
  .addNew .search {
    text-align: center;
    max-width: 768px;
    margin: 1em auto; }
    .addNew .search input {
      background-color: transparent;
      margin-right: 1em;
      border: none;
      border-bottom: 1px solid black;
      font-size: 1em;
      outline: none;
      padding: .3em .5em .1em; }
    .addNew .search button {
      background-color: transparent;
      border: none;
      border: 1px solid black;
      font-size: 1em;
      color: #2cb673;
      border-radius: 5px;
      padding: .2em .5em .4em;
      outline: none; }
    .addNew .search button:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: 2px solid #2cb673; }
    .addNew .search button:active {
      background-color: #2cb673;
      color: white;
      border: 2px solid #2cb673;
      outline: none; }
    .addNew .search .clear-float {
      border: none; }
    .addNew .search .results {
      text-align: left;
      margin: 0 auto;
      padding: 20px; }
      .addNew .search .results a {
        text-decoration: none;
        width: 100%;
        border-bottom: 1px solid black; }
      .addNew .search .results a:hover, .addNew .search .results .results {
        background-color: rgba(255, 255, 255, 0.3);
        color: #2cb673; }
      .addNew .search .results .album-view {
        margin: -100px auto 0;
        max-width: 768px; }
        .addNew .search .results .album-view ul {
          clear: both;
          border-radius: 5px; }
          .addNew .search .results .album-view ul li {
            list-style: none;
            max-width: 768px;
            clear: both;
            padding-top: 24px; }
            .addNew .search .results .album-view ul li .album-cover {
              background-color: rgba(0, 0, 0, 0.2);
              float: left;
              height: 120px;
              width: 120px;
              padding: 10px;
              margin-left: -35px;
              margin-right: 10px;
              border-right: 2px solid rgba(0, 0, 0, 0.8); }
            .addNew .search .results .album-view ul li .album-name {
              line-height: 2em;
              font-style: italic; }
          .addNew .search .results .album-view ul li:nth-of-type(1) {
            padding-top: 0; }
      .addNew .search .results .prop {
        margin-top: -50px; }

/*# sourceMappingURL=importer.css.map */
