<section class="collection-view" scroll>
	<section class="top">
		<header>
			<div class="logo-box">
				<img class="logo" src="/images/V6.png">
			</div>
		</header>
		<nav class="top-bottom">
			<h1>collection</h1>
			<!-- <input type="text" placeholder="filter by artist" ng-model="artistFilter"> -->
			<a href="#" ng-click="menuView()" class="ion-navicon menu" ng-show="hamburger"></a>
			<a href="#" ng-click="menuView()" class="ion-ios-close-empty menu" ng-show="closeMenu"></a>
			<ul ng-show="menuItems" class="animated fadeIn">
				<li>
					<a class="add-new" href="#" ui-sref="addNew">artist search <span class="ion-plus-round"></span></a>
				</li>
				<li>
					<a class="logout" href="#" ng-click="logout()">logout</a>
				</li>
			</ul>
			<div class="clear-float"></div>
		</nav>
	</section>

	<div class="album-view">
		<section class="sorts">
			sort by:
			<a href="#" ng-click="selected=1; sortRecent()" ng-class="{active: selected === 1}">recently added</a>
			<a href="#" ng-click="selected=2; sortArtist()" ng-class="{active: selected === 2}">artist</a>
			<a href="#" ng-click="selected=3; sortAlbum()" ng-class="{active: selected === 3}">album</a><br>
			<a class="add-new edit" href="#" ng-click="show = !show; editStart = !editStart; editFinished = !editFinished" ng-hide="editStart">edit list</a>
			<a href="#" class="add-new edit" ng-show="editFinished" ng-click="show = !show; editStart = !editStart; editFinished = !editFinished">done editing</a>
		</section>
		<ul>
			<li ng-repeat="album in collection" ng-animate="'animate'" ng-hide="deletedAlbum === album.id">
				<div>
					<span class="ion-ios-close-outline" ng-show="show" ng-click="deleteAlbum(album); deletedAlbum = album.id"></span>
					<img ng-src="{{album.albumCover}}" class="album-cover">
					<p class="album-artist">{{album.artist}} <br> <span class="album-name">{{album.album}}</span>
					</p>
					<!-- <div class="line"></div> -->
				</div>
			</li>
		</ul>
	</div>
</section>